body {
    background: #7BBEE4; /*light blue*/
}

div.inner-page {
    border: thin solid black;
    background: #076324; /*forest green*/
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div.inner-page #north_player {
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100%;
    margin: auto;
    text-align: center;
    display: inline-block;
}


div.inner-page #east_player {
    position: absolute;
    bottom: 40%;
    left: 5%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

div.inner-page #south_player {
    position: absolute;
    top: 0;
    left: 45%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


div.inner-page #west_player {
    position: absolute;
    bottom: 40%;
    right: 5%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
} 

h1 {
    margin: auto;
    display: inline;
    position: relative;
}

.card, #start {
    display: inline-block;
    width: 2.7em;
    height: 4em;
    text-decoration: none;
    border: 1px solid #666;
    border-radius: .2em;
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    padding: .15em;
    margin: 0 .2em .2em 0;
    text-align: center;
    font-size: 1.2em; /* size of card */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .1em .1em .3em #333;
    -webkit-box-shadow: .1em .1em .3em #333;
    box-shadow: .1em .1em .3em #333;
}

a.card.hand.playable:hover {
    bottom: 1em;
}

.card.selected {
    border: thick solid yellow;
}

.card.diams {
    color: #F00 !important;
}
.card.hearts {
    color: #F00 !important;
}
.card.spades {
    color: #000 !important;
}
.card.clubs {
    color: #000 !important;
}

/* rank and suit display info */
.card .rank {
    display: block;
    line-height: 1;
    text-align: left;
}

.card .suit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 250%;
}

button {
    background-color: #E6E7DA;
    color: black;
    border-radius: 4px;
    border: none;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}

ul {
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    white-space: nowrap;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 auto;
}

ul#options {
    bottom: 1%;
    position: absolute;
}

div.image {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 45%;

}

span.caption {
    display: block;
}

#start:hover {
    background: yellow;
} 

#score.hide {
    display: none;
}
